/* task 2 */

/* .circles__container {
    position: relative;
    width: 100%;
    height: 100%;
}

.circle {
    position: absolute;
    border-radius: 50%;

    transition: all 1s ease;
}

.circle__1 { background-color: pink; }

.circle__2 { background-color: rgb(176, 15, 163); }

.circle__3 { background-color: rgb(180, 98, 158); }

.circle__4 { background-color: rgb(181, 19, 149); }

.circle__5 { background-color: rgb(234, 139, 226); }

.circle__6 { background-color: rgb(155, 8, 106); }

.circle__7 { background-color: rgb(188, 82, 170); }

.circle__8 { background-color: rgb(92, 3, 55); }

.circle__9 { background-color: rgb(176, 15, 163); }

.circle__10 { background-color: rgb(180, 98, 158); }

.circle__11 { background-color: rgb(181, 19, 149); }

.circle__12 { background-color: rgb(234, 139, 226); }

.circle__13 { background-color: rgb(155, 8, 106); }

.circle__14 { background-color: rgb(188, 82, 170); }

.circle__15 { background-color: rgb(184, 56, 174); } */


/* task 3 */